asgiref==3.7.2
binance==0.3
certifi==2024.12.14
charset-normalizer==3.4.1
Django==3.2.25
idna==3.10
pytz==2024.2
requests==2.31.0
sqlparse==0.4.4
telegram==0.0.1
telegram-admin-informer==0.1
typing-extensions==4.7.1
urllib3==2.0.7
djangorestframework
